:root {
    --branco-principal: #FFFFFF;
    --cor-fraca: #F9F9F9;
    --cor-fraquissima: #C0C0C0;
    --cor-primaria: #FCBA6C;
    --cor-secundaria: #8FC3FF;
    --botao-laranja: #FFA45F;
    --cor-fundo: #00030C;
    --fonte-principal: "Inter", sans-serif ;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
}

.azul{
    color: var(--cor-secundaria);
}

.laranja{
    color: var(--cor-primaria);
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 33% 33% 33%;
}

.principal {
    background-image: url("imagens/Dubladores.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__botao {
    display: block;
    background-color: var(--botao-laranja);
    color: var(--branco-principal);
    border-radius: 8px;
    padding: 1em;
    text-decoration: none;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    margin: 16px 0px 10px;
}

.container__aviso {
    color: var(--cor-fraquissima);
    font-size: 12px;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.secundario {
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
}

.descricao__texto {
    font-size: 16px;
    font-weight: 150;
    color: var(--cor-fraca);
}

.terciario {
    grid-template-columns: 50% 25% 25%;
    align-items: center;
    justify-items: center;
}

.terciario__div {
    margin-left: 6em;
}

.terciario__div p {
    color: var(--cor-fraca);
    font-weight: 150;
    width: 80%;
    margin-bottom: 1em;
    line-height: 150%;
}

.botao_terciario {
    width: 33%;
    text-align: center;
}

.quaternario {
    grid-template-columns: 50% 50%;
}

.quaternario__imagem {
    text-align: center;
}

.internet__titulo {
    color: var(--branco-principal)
}

.internet__descricao {
    color: var(--cor-fraca);
    font-weight: 150;
}

.rodape {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2em 0;
    font-size: 32px;
}

.rodape__logo {
    width: 233px;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.rodape__lista a {
    color: var(--branco-principal);
    text-decoration: none;
    margin-left: 1.5em;
}

.rodape__texto {
    color: var(--cor-fraquissima);
    font-weight: 200;
    font-size: 14px;
    margin: 1em 0;
}