:root {
    --branco-principal: #FFFFFF;
    --cor-fraca: #F9F9F9;
    --cor-fraquissima: #C0C0C0;
    --cor-primaria: #FCBA6C;
    --cor-secundaria: #8FC3FF;
    --botao-laranja: #FFA45F;
    --cor-fundo: #00030C;
    --fonte-principal: "Inter", sans-serif ;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
}

.azul{
    color: var(--cor-secundaria);
}

.laranja{
    color: var(--cor-primaria);
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 33% 33% 33%;
}

.principal {
    background-image: url("imagens/Dubladores.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container__botao {
    display: block;
    background-color: var(--botao-laranja);
    color: var(--branco-principal);
    border-radius: 8px;
    padding: 1em;
    text-decoration: none;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    margin: 16px 0px 10px;
}

.container__aviso {
    color: var(--cor-fraquissima);
    font-size: 12px;
}